    <div class="grid">
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Jumlah Barang</span>
                        <div class="text-900 font-medium text-xl">{{countBarangs?.data}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-box text-blue-500 text-xl"></i>
                    </div>
                </div>
              <a [routerLink]="['/inventory/barang']">
                <div class="flex justify-content-between items-center">
                  <span class="text-500">lihat barang </span>
                  <span class="text-green-500 font-medium">
                    <i class="pi pi-arrow-right text-lg"></i>
                  </span>
                </div>
              </a>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Jumlah Peminjaman</span>
                        <div class="text-900 font-medium text-xl">{{countPeminjamanBarangs?.data}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-inbox text-orange-500 text-xl"></i>
                    </div>
                </div>
              <a [routerLink]="['/inventory/peminjamanbarang']">
                <div class="flex justify-content-between items-center">
                  <span class="text-500">lihat peminjaman </span>
                  <span class="text-green-500 font-medium">
                    <i class="pi pi-arrow-right text-lg"></i>
                  </span>
                </div>
              </a>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Jumlah Permintaan</span>
                        <div class="text-900 font-medium text-xl">{{countPermintaanBarangs?.data}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-send text-cyan-500 text-xl"></i>
                    </div>
                </div>
              <a [routerLink]="['/inventory/permintaanbarang']">
                <div class="flex justify-content-between items-center">
                  <span class="text-500">lihat permintaan </span>
                  <span class="text-green-500 font-medium">
                    <i class="pi pi-arrow-right text-lg"></i>
                  </span>
                </div>
              </a>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Jumlah Kategori</span>
                        <div class="text-900 font-medium text-xl">{{countKategoriBarangs?.data}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-hashtag text-purple-500 text-xl"></i>
                    </div>
                </div>
              <a [routerLink]="['/inventory/kategoribarang']">
                <div class="flex justify-content-between items-center">
                  <span class="text-500">lihat kategori </span>
                  <span class="text-green-500 font-medium">
                    <i class="pi pi-arrow-right text-lg"></i>
                  </span>
                </div>
              </a>
            </div>
        </div>
    </div>

